extend layout

mixin listGames(gamesList)
    each game in gamesList
      tr
        td= game.playerA
        td= game.playerB
        td= game.started.getDate()
        td= game.scenario
        td= game.timeControl
        td
          if game.kibitzers
            = game.kibitzers.length
        td
          if game.kibitzers && game.kibitzers.indexOf(req.user.name) >= 0
            a(href="/games/"+game._id+"/unwatch"): img(src="http://"+req.header("host")+"/imgs/watching.png")
          else
            a(href="/games/"+game._id+"/watch"): img(src="http://"+req.header("host")+"/imgs/not-watching.png")
            
block secondary-nav
  include secondary-nav-games
  
block content
  h1 All ongoing games
  table.table
    tr
      th(colspan="2") Players
      th Scenario
      th Time Control
      th Running since
      th Watchers
      th Watch?
    +listGames(games)
