extends layout

mixin incoming(challengers)
  each ch in challengers
    .panel.panel-default
      .panel-heading
        h3.panel-title
          if ch.scenario
            = ch.scenario.number
            | &nbsp;-&nbsp; 
            = ch.scenario.title
      .panel-body
        table.challenges
          tr
            td(colspan=2)           
              | Challenge by 
              = ch.from
              | ,&nbsp;
              = " "+ch.fancyDate || ch.sent
          tr
            th(width="*") Your side
            th(width="*") Opponent's side
          if ch.whoIsAttacker == "B"
            tr
              td Defender
              td Attacker
            tr
              td= ch.scenario.defender.nation
              td= ch.scenario.attacker.nation
          else
            tr
              td Attacker
              td Defender
            tr
              td= ch.scenario.attacker.nation
              td= ch.scenario.defender.nation
               
          tr
            td(colspan=2)
          tr
            td(colspan=2)
              bold Time Control:&nbsp;
              = ch.timeControl
          tr
            td(colspan=2)
              a.btn.btn-primary.active(href="/challenges/"+ch.id+"/accept") Accept 
              | &nbsp;
              a.btn.btn-default.active(href="/challenges/"+ch.id+"/decline") Decline
          if ch.message
            tr
              td(colspan=2)= ch.message

mixin outgoing(challenges)
  each ch in challengers
    .panel.panel-default
      .panel-heading
        h3.panel-title
          if ch.scenario
            = ch.scenario.number
            | &nbsp;-&nbsp; 
            = ch.scenario.title
      .panel-body
        table.challenges
          tr
            td(colspan=2)           
              | Challenge to 
              = ch.from
              | ,&nbsp;
              = " "+ch.fancyDate || ch.sent
          tr
            th(width="*") Your side
            th(width="*") Opponent's side
          if ch.whoIsAttacker == "A"
            tr
              td Defender
              td Attacker
            tr
              td= ch.scenario.defender.nation
              td= ch.scenario.attacker.nation
          else
            tr
              td Attacker
              td Defender
            tr
              td= ch.scenario.attacker.nation
              td= ch.scenario.defender.nation
               
          tr
            td(colspan=2)
          tr
            td(colspan=2)
              bold Time Control:&nbsp;
              = ch.timeControl
          tr
            td(colspan=2)
              a.btn.btn-warning.active(href="/challenges/"+ch.id+"/takeback") Take back 
          if ch.message
            tr
              td(colspan=2)= ch.message
        
block secondary-nav
  include secondary-nav-games
  
block content
  h1 Challenges
    h2 Challenges sent to you
    if (challengers && challengers.length > 0)
        +incoming(challengers)
    else
        p 
          | You do not have any open challenges! Maybe you would like to 
          a(href="/games/challenge") challenge someone yourself 
          | instead?
          
    if (challenges && challenges.length > 0)
      h2 Challenges sent by you
      +outgoing(challenges)