extend layout

mixin logs(game)
  p: a(href="/logfiles/"+game._id+"/"+game.logs[game.logs.length -1]._id) Download latest log file
  table.table
    - var i = 1
    each log in game.logs
      tr
        td= i
        - i++
        td: a(href="/logfiles/"+game._id+"/"+log.id) Download


block secondary-nav
  include secondary-nav-games
  
block content
  h1
    = game.scenarioId 
    small= " "+(scenario.title || "Unknown Scenario")
    //- scenario title should be supplied here
      
  table.game-header(width="100%")
    tr
      td(width="80px" rowspan="4"): img(src=avatarA)
      th(width="*"): a(href="/user/"+game.playerA)= game.playerA
      th(width="*"): a(href="/user/"+game.playerB)= game.playerB
      td(width="80px" rowspan="4"): img(src=avatarB)
    if game.whoIsAttacker == "A" 
      tr
        td Scenario Attacker
        td Scenario Defender
      tr
        if (scenario && scenario.defender && scenario.attacker)
          td= scenario.defender.nation
          td= scenario.attacker.nation
        else
          td ???
          td ???
    else if game.whoIsAttacker == "B"
      tr
        td Scenario Defender
        td Scenario Attacker
      tr
        if (scenario && scenario.defender && scenario.attacker)
          td= scenario.defender.nation
          td= scenario.attacker.nation
        else
          td ???
          td ???
    else
      tr
        td ???
        td ???
      tr
        td ???
        td ???

    tr
      if(game.whoseTurn == "A")
        td.active-player Active Player
        td
      else if(game.whoseTurn == "B")
        td
        td.alert Active Player
      else
        td
        td
  if game.logs.length == 0
    p 
      | This game has no logs so far. 
      a(href="/game/"+game._id+"/upload") Upload a log to start the game!
  else
    if req && req.user
      if (activePlayer == req.user.name)
        p 
          | It is your turn to move. 
          a(href="/game/"+game._id+"/upload") Upload your next log now?
      else if(activePlayer == "")
        p
          | Invalid data. The software can not determine whose turn it is. If it is your turn, 
          a(href="/game/"+game._id+"/upload") click here
          | &nbsp;to continue the game.  
      else
        p
          | It is 
          a(href="/user/"+activePlayer)= activePlayer
          | 's turn to move.
    else      
      p
        | It is
        a(href="/user/"+activePlayer)= activePlayer
        | 's turn to move.
          
    +logs(game)
    