extends ../layout

block secondary-nav
  include secondary-nav-users
  
block content
  h1= user.name
  if user.banned
    p Banned
  else if !user.activated
    p Inactive
  else
    table.game-header(width="100%")
      tr
        td(rowspan="3", width="80px"): img(src=avatar,float=left,alt=user.name+"'s Avatar")
        th Standard User
      tr
        td: a(href="/messages/send?to="+user.name) Send a message
      tr
        td: a(href="/games/challenge?to="+user.name) Challenge this User
        
        
    h1 Statistics    
    table.stats
      tr
        th Rated games played
        td= user.rating.games
      tr
        th 
          | Elo rating&nbsp;(
          a(href="/help/rating") What is this?
          | )
        td
          if user.rating.games <= 10
            | (
            span(class="provisional-rating")= user.rating.points
            | )
          else
            span= user.rating.points
            
    h1 Other profiles
    - var count = 0
    if (user. profile && (user.profile.thegeek || user.profile.facebook || user.profile.gplus || user.profile.twitter || user.profile.xmpp))
      table
        if user.profile.thegeek
          tr
            th BoardGameGeek
            td: a(href="http://boardgamegeek.com/user/"+user.profile.thegeek)= user.profile.thegeek
        if user.profile.facebook
          tr
            th Facebook
            td: a(href="http://facebook.com/"+user.profile.facebook)= user.profile.facebook
        if user.profile.gplus
          tr
            th Google+
            td: a(href="http://plus.google.com/"+user.profile.gplus) User page
        if user.profile.xmpp
          tr
            th Jabber / XMPP
            td: a(href="xmpp:"+user.profile.xmpp) user.profile.xmpp
        if user.profile.twitter
          tr
            th Twitter
            td: a(href="http://twitter.com/"+user.profile.twitter)= user.profile.twitter
        

    //- TODO Add admin etc status