extend ../layout

mixin logs(game)
  table#logs-table
    - for(var i = game.logs.length-1; i >= 0; i--)
      if game.logs[i].empty
        tr
          th(colspan=20) No actions taken
      tr
        th(colspan=20)
          a(href="/logfiles/"+game._id+"/"+game.logs[i].id+".vlog")
            span.glyphicon.glyphicon-floppy-save 
          | &nbsp;Log #
          = i

      tr
        td
          if(game.logs[i].sentBy == game.playerA)
            img(src=avatarAsmall)
          else if(game.logs[i].sentBy == game.playerB)
            img(src=avatarBsmall)
        td
          | Submitted by 
          = game.logs[i].sentBy
          | , 
          = game.logs[i].prettyDate || game.logs[i].date
        td
          | Covers&nbsp;
          != game.logs[i].prettyFirstPhase
          | &nbsp;through&nbsp;
          != game.logs[i].prettyLastPhase
      tr#bottom
        td(colspan=20)#message
          if game.logs[i].message
            p= game.logs[i].message
          else
            p: i No message was sent with this log file.


block secondary-nav
  include secondary-nav-games
  
block content
  h1
    if game.scenario && game.scenario.number
      = game.scenario.number
      small= " "+(game.scenario.title || "Unknown Scenario")
    else
      | Custom Scenario
      
  table.game-header(width="100%")
    tr
      td(width="80px" rowspan="4"): img(src=avatarA)
      th(width="*"): a(href="/user/"+game.playerA)= game.playerA
      th(width="*"): a(href="/user/"+game.playerB)= game.playerB
      td(width="80px" rowspan="4"): img(src=avatarB)
    if game.whoIsAttacker == "A" 
      tr
        td Scenario Attacker
        td Scenario Defender
      tr
        if (game.scenario && game.scenario.defender && game.scenario.attacker)
          td= game.scenario.attacker.nation
          td= game.scenario.defender.nation
        else
          td ???
          td ???
    else if game.whoIsAttacker == "B"
      tr
        td Scenario Defender
        td Scenario Attacker
      tr
        if (game.scenario && game.scenario.defender && game.scenario.attacker)
          td= game.scenario.defender.nation
          td= game.scenario.attacker.nation
        else
          td ???
          td ???
    else
      tr
        td ???
        td ???
      tr
        td ???
        td ???

    tr
      if(game.whoseTurn == "A")
        td.active-player Active Player
        td
      else if(game.whoseTurn == "B")
        td
        td.active-player Active Player
      else
        td
        td
        
  if (req && req.user)
    h4 Actions
    p
      if game.logs.length > 0
        a.btn.btn-info.active(href="/logfiles/"+game._id+"/"+game.logs[game.logs.length -1]._id+".vlog") Download latest log
        | &nbsp;
      a.btn.btn-info.active(href="/game/"+game._id+"/"+bulkName+".zip") Download game
      | &nbsp;
      if game.result == "ongoing" && ownGame
        a.btn.btn-primary.btn-large.active(href="/game/"+game._id+"/upload", role="button") Upload log 
        | &nbsp;
        a.btn.btn-danger.btn-large.active(href="/game/"+game._id+"/resign", role="button") Resign
      else if game.result == "ongoing"
        if !(game.kibitzers.indexOf(req.user.id) >= 0)
          a.btn.btn-info.active(href="/game/"+game._id+"/kibitz", role="button") Watch
        else
          a.btn.btn-info.active(href="/game/"+game._id+"/unkibitz", role="button") Stop watching
          
  h4 Logs
  if game.logs.length > 0
    +logs(game)
  else
    p This game has no logs so far.
    