extends ../layout.jade

mixin list(games)
  table.table
    each game in games
      tr
        td= game.playerA
        td= game.playerB
        if game.scenario && game.scenario.number
          td
            strong= game.scenario.number
            = " - "+(game.scenario.title || "Unknown Scenario")
        else
          td Custom Scenario
        td: a(href="/game/"+game.id) Show Details

block secondary-nav
  include secondary-nav-games
  
block content
  if req.user.name == name
    h1 Your #{state} games
  else if name == ""
    h1 All #{state} games
  else
    h1 #{name}'s #{state} games
    
  if games && games.length > 0
    +list(games)
  else
    p No games match the criteria.