extends ../layout.jade

mixin list(games)
  table.table
    each game in games
      tr
        td(width="32px"): img(src="/user/"+game.playerA+"/avatar/32")
        td
          +tname(game.playerA)
        td(width="32px"): img(src="/user/"+game.playerB+"/avatar/32")
        td
          +tname(game.playerB)
        if game.scenario && game.scenario.number
          td
            strong= game.scenario.number
            = " - "+(game.scenario.title || "Unknown Scenario")
        else
          td Custom Scenario
        td: a(href="/game/"+game.id) Show Details
        
mixin tname(n)
  if n == req.user.name
    strong You
  else
    a(href="/user/"+n)= n

block secondary-nav
  include secondary-nav-games
  
block content
  if req.user.name == name
    h1 Your #{state} games
  else if watchlist
    h1 Your watched games
  else if name == ""
    h1 All #{state} games
  else
    h1 #{+tname(name)}'s #{state} games
    
  if games && games.length > 0
    +list(games)
  else
    p No games match the criteria.