extends ../layout.jade

mixin list(games)
  table.table
    each game in games
      tr
        td(width="32px"): img(src="/user/"+game.playerA+"/avatar/32")
        td
          +tname(game.playerA)
        td(width="32px"): img(src="/user/"+game.playerB+"/avatar/32")
        td
          +tname(game.playerB)
        if game.scenario && game.scenario.number
          td
            strong= game.scenario.number
            = " - "+(game.scenario.title || "Unknown Scenario")
        else
          td Custom Scenario
        td: a(href="/game/"+game.id) Show Details
        
mixin pagination()
  if pages > 1
    ul.pagination
      li: a(href=pagesBaseLink+"1") &larr; First
      - for(var i = page-pagesDisplayed; i < page+pagesDisplayed+1; i++)
        if i < pages && i > 0
          if i == page
            li.active: a(href="#")= i
          else
            li: a(href=pagesBaseLink+""+i)= i
      li
        if page >= pages-1
          a(href="#") &raquo;
        else
          a(href=pagesBaseLink+""+(pages-1)) Last &rarr;
        
mixin tname(n)
  if n == req.user.name
    strong You
  else
    a(href="/user/"+n)= n

block secondary-nav
  include secondary-nav-games
  
block content
  if req.user.name == name
    h1 Your #{state} games
  else if watchlist
    h1 Your watched games
  else if name == ""
    h1 All #{state} games
  else
    h1 #{+tname(name)}'s #{state} games
    
  +pagination()
    
  if games && games.length > 0
    +list(games)
  else
    p No games match the criteria.
    
  +pagination()